html {
  min-height: 100%;
}

body {
  font-family: 'Raleway', sans-serif;
  font-size: 1.2rem;
  color: rgb(255 255 255 / 79%);
  text-align: center;
  background: linear-gradient(to right, #8500ff , #ff008d); /* Standard syntax */
}

h1 {
  font-size: 3.5rem;
  font-weight: 600;
  text-transform: uppercase;
  letter-spacing: .5rem;
  margin-bottom: 0;
}

h2{
  text-transform: uppercase;
  letter-spacing: 0.2rem;
  margin-bottom: 1rem;
}

header {
  margin-bottom: 3rem;
}

header p {
  margin-top: 0.5rem;
}

main div {
  margin-bottom: 3rem;
}

code {
  background-color: rgb(255 255 255 / 79%);
  color: rgb(0 0 0 / 81%);
  padding: 1rem 1rem 0.8rem 1rem;
  border: 1px dashed rgba(0,0,0,.5);
  display: inline-block;
}

input[type=button] {
  font-family: 'Raleway', sans-serif;
  color: rgb(0 0 0 / 81%);
  border: 1px solid rgba(0,0,0,.5);
  padding: 0.3rem 0.6rem 0.2rem 0.6rem;
  font-size: 0.9rem;
  text-transform: uppercase;
  cursor: pointer;
}

footer {
  display: none;
}

.picker p {
  margin: 0;
}

p.wmt {
  margin-top: 0.5rem;
}